.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    margin-top: 5px;
}

.card-actions {
    margin-bottom: 1rem;
}

.card-button {
    text-transform: none;
    font-weight: 600;
}